.course-percent{
        margin: auto;

}
 .course-percent-container{
                justify-content: space-between ;
                  background-color: #fffaf3;
    width: 300px !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    font-size: 2em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }


.course-percent-grid{
            display: flex  !important;
    justify-content: center  !important;

}
.prepare-intro{
        margin: 0px !important;
}


.introduce-container-title{
       line-height: 1.6em  !important;
}
.introduce-container-btn{
        font-size: 1.4em !important;
        padding: 2% 4%  !important;
        margin-top: 2%  !important;
        color: #fff  !important;
        border-radius: 5px  !important;
        background-color: #1976d2  !important;
}

.introduce-container-btn:hover{
 background-color: #1460ac  !important;
}