@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


 .badges-container,.card-container {
    display: flex !important;
    justify-content: center !important;
    margin: 1%;
}

.card {
  width: 70%;
  background: #191a1d;
  overflow: hidden;
  padding: 20px;
  position: relative;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 3% !important;
  margin: auto;
}

.card header.user {
  display: flex;
  gap: 12px;
}

.card header.user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.card header .user-info-name {
  letter-spacing: 0.4px;
  font-size: 14px;
  font-weight: 500;
  color: #191a1d;
}
.card header .user-info-time {
  font-size: 12px;
  color: #191a1d;
}
.card main p {
  font-size: 14px;
  color: #191a1d;
  margin-top: 16px;
  line-height: 1.7;
}
.card section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card section .users-avatars {
  margin-right: 21px;
  display: flex;
  align-items: center;
}
.card section .users-avatars img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #191a1d;
  margin-right: -21px;
}
.card section p {
  color: #191a1d;
  font-size: 12px;
  margin-left: 10px;
}
.card section p.comment {
  margin-left: auto;
}