.social-card{
    width: 90%;
    margin:5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
}


.css-1bped5o-MuiBottomNavigation-root{
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#chat-messages{
height: 200px;
}

.select-device{
    width: 40%;
}

.video-screen{
    width: 30%;
}