#result-content{
    font-size: 1.4em !important;
}

.special-font{
      font-size: 1.6em !important;
      padding: 14px;
      background-color: #1976d2;
      color:#fff;
      border-radius: 50px;
      width:20px;
      
}