.course-percent{
        margin: auto;
       padding-bottom: 5%;
}
 .course-percent-container{
                justify-content: space-between ;
                  background-color: #fffaf3;
    width: 300px !important;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    font-size: 2em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }


.course-percent-grid{
            display: flex;
    justify-content: center;

}


.introduce-container-title{
       line-height: 1.6em;
}
.introduce-container-btn{
        font-size: 1.4em;
        padding: 2% 4%;
        margin-top: 2%;
        color: #fff;
        border-radius: 5px;
        background-color: #1976d2;
}

.introduce-container-btn:hover{
     
        background-color: #1460ac;
}