
*{
   text-decoration:none !important;
}


body{
 background-image: url("./bg.jpg");
 background-repeat: no-repeat, repeat;
 background-size: cover;
 background-image:(linear-gradient(left, rgba(#f1f1f1,.5) 20%, transparent 50%))
}

.social-card{
    width: 70%;
    margin:5%;
    border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 3% !important;
  margin: auto;
}

.tags-container{
    justify-content: center;
    display: flex;
    margin-top: 3%;
}




.article-block{
 padding:0 5%;
 padding-top: 5%;

 .article-container-left{

    padding:2% 5%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .article-container-right{
    padding-top: 0px !important;
  }
}
.comment-specfic{
  margin: 3% 0%;
  padding: 3%;
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
}

.comment-specfic,.comment-specfic-avator{
display: flex;
  flex-direction: column;
}
.comment-specfic-avator-right{
  margin-left: -5% !important;
}
.comment-specfic-content{
  padding-top:3%;
}

.comment-specfic-title{
display: flex;
  flex-direction: row;
}
.avator{
  border-radius: 50%;
  object-fit: cover;
}

.article-side{
   background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5%;
    margin-bottom: 5%;
}
.rdw-editor-main {
    border: 1px solid #e6e6e6 !important;
    min-height: 140px !important;
}
.tringle-bad{
  width: 0;
  height:0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ddd;
  position: relative;
  }

.tringle{
  width: 0;
  height:0;
  margin-top: 10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ddd;

  position: relative;
  }

.tringle:hover{
  border-bottom: 20px solid orange;
}

.article-relate{
  background-color: rgb(58, 112, 214);
  border-radius: 50px;
  margin: 3% 0%;
  padding: 2% 4%;
  width: 100%;
  color:#fff;
  text-align: center;
}

.tringle-bad:hover{
  border-top: 20px solid orange;
}

.good-clicked{
   border-bottom: 20px solid orange;
  }

.tringle after{
  content: '';
  position: absolute;
  top: -42px;
  left: -84px;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #ababab;
  margin: 50px auto;
}
