.code_container{
        padding: 3% 5%;
    text-align: center;
    min-height: 60vh;
     flex-direction:column;
      justify-content: space-between;
}
.loading-image{
    display: inline-block;
    width: 600px;
}

.loading-div{
     display: flex !important;
     flex-direction: column !important;
     align-items: center !important;
}

#code-main{
    padding: 5%;
    margin: auto;
}

 .row{
    align-items: center;
       
      justify-content: center;
   }


#step-content{
    background-image: linear-gradient(#ABDCFF
, #6ac1ff
);
}

.runcode-container{
    padding: 20px 30px;
    background-color: #fff;
    width:100% !important;
    margin: 0px !important;
}

.runcode-result-label{
    padding: 0% !important;
    
    margin-bottom: 3% !important;
  
   }
.runcode-result{
    padding: 0% !important;
    padding-left: 2% !important;
  margin-left: -2% !important;
div{
        border-left: 2px solid rgb(12, 132, 202);
        margin-left: 3%;
        padding-left: 5%;
    }
}

.code-content-container{
    padding: 2% 3%;
     background-color: #fff;
     margin-top: 3% !important;
}

.code-description-container {
    background-color: #F8F8FF;
    margin-top: 45px !important;
padding-top: 3%;
    margin: 3% auto;
    overflow: scroll;
    height: 60vh;
}

.user-log-container{
    margin: 3% 0%;
}