.social-card{
    width: 70%;
    margin:5%;
    border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 3% !important;
  margin: auto;
}

.tags-container{
    justify-content: center;
    display: flex;
    margin-top: 3%;
}


*{
   text-decoration:none !important;
}

body{
 background-image: url("./bg.jpg");
 background-repeat: no-repeat, repeat;
 background-size: cover;
 background-image:(linear-gradient(to left, rgba(#f1f1f1,.5) 20%, transparent 50%))

}

.css-heg063-MuiTabs-flexContainer{
  justify-content: center !important;
}

.article-block{
 padding:0 5%;
 padding-top: 3%;

}
