.social-card{
    width: 90%  !important;
    margin:5%  !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px  !important;
    border-radius: 5px  !important; 
}
textarea.full_height_Width {
    width: 100%  !important;
    background-color: #D3D3D3  !important;
}

.submit-teacher-arrange{
    width: 70vw  !important;
    display: flex  !important;
    justify-content: space-around  !important; 
}

.flex-items{
    background-color: #d8d8d8  !important;
    border-radius: 5px  !important;
    padding: 3%  !important;
    margin: 5%  !important;
    width: 50%  !important;
}

.arrange-time{
    margin-top: 3% !important;
    padding: 0% !important;
}

.datetime-items{
    width: 100%  !important;
}