.account-box{
   padding: 5% !important;
   text-align: center !important;
   .account-box-grid{
       padding: 0px;

   }
}
.css-1n3h4wo{
    height: auto !important;
}

.tutor-avator{
    border-radius: 50%;
}

.update-avator{
    width: 60px !important;
    height: 60px  !important;
    position: relative;
    background-color: #1976d2;
    padding: 5%;
    border-radius: 50px;

}
.update-avator-icon{
     width: 30px !important;
    height: 30px  !important;
}

.account-avator-container{
    display: flex;
        position: relative;
}
.account-avator{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    margin-top: 5%;
}

.upload_avator{
    position: absolute;
    left: 55%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 100 !important;
    cursor: pointer !important;
    .upload_avator_check{
        margin-top: 5%;
        width: 64%;
        border: 1px solid gray;
    }
}
.history-title-div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 3% !important;
}

.share-btn{
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    border-radius: 50px !important;
    width: 36px !important;
    height: 36px !important;
    text-align: center;
    padding: 0px !important;
    min-width:0px !important;
    margin: 0px !important;
    margin-left: 10px !important;

    .MuiButton-endIco{
        margin: 0px !important;
    }
    .css-z4rqyd-MuiButton-endIcon{
            display: flex !important;
    justify-content: center !important;
    margin: 0px !important;
        }

}

.update-avator-label{
    z-index: 100 !important;
    cursor: pointer !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.update-avator-img{
       width: 60px !important;
    height: 60px  !important;
    position: relative;
    background-color: #1976d2;
    padding: 5%;
    border-radius: 50px;
        display: flex;
    justify-content: center;
    align-items: center;
    img{ filter: brightness(0) invert(1);}
   
}

.account-info{
    padding-top: 2%;
    margin: auto;
    text-align: center;
}

.account-box-grid-self{
    margin-top: 3% !important;
}