@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


 .badges-container,.card-container {
    display: flex !important;
    justify-content: center !important;
    margin: 1%;
    
}
.social-desc{
   overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
<<<<<<< HEAD
  -webkit-line-clamp: 2; /*行數*/
=======
  -webkit-line-clamp: 5; /*行數*/
>>>>>>> hotfix
  -webkit-box-orient: vertical;
  white-space: normal;
}

<<<<<<< HEAD
.card {
  width: 70%;
=======
.runcode-container-social{
display: flex;
align-items: center;
justify-content: center;
margin: 0px !important;
}

.runcode-result-label-social,.runcode-result-social{
 display: flex;
 
}




.card {
  width: 70%;

>>>>>>> hotfix
  overflow: hidden;
  padding: 20px;
  position: relative;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  margin: auto;
}
.card-all-share{
<<<<<<< HEAD
  display: flex;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  margin: auto;
}

.card-all-share-video{
  display: flex;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  margin: auto;
}

.card-share-video{
  overflow: hidden;
  padding: 20px;
  position: relative;
=======
  

display: flex;

>>>>>>> hotfix
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  margin: auto;
}

.card-share{
  overflow: hidden;
  padding: 20px;
  position: relative;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  margin: auto;
}

.card header.user {
  display: flex;
  gap: 12px;
}

.card header.user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.card header .user-info-name {
   margin-top: -5px;
  letter-spacing: 0.4px;
  font-size: 24px;
  font-weight: 500;
  color: #191a1d;
}
.card header .user-info-time {
  margin-top: -10px;
  font-size: 12px;
  color: #191a1d;
}
.card main p {
  font-size: 14px;
  color: #191a1d;
  margin-top: 16px;
  line-height: 1.7;
}
.card section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card section .users-avatars {
  margin-right: 21px;
  display: flex;
  align-items: center;
}
.card section .users-avatars img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #309cff;
  margin-right: -21px;
}
.card section p {
  color: #191a1d;
  font-size: 12px;
  margin-left: 10px;
}
.card section p.comment {
  margin-left: auto;
}



.articles-goods{
padding-top: 3%;
}
.now-goods{
  margin: auto;
 margin-left: 15%;
}
.goods-container{
   margin-left: 3%;
}